module FabricMux_Verification_Assert(
  input io_source_readDataAddr_valid,
        io_source_writeDataAddr_valid,
        reset,
        _GEN,
        _GEN_0,
        _GEN_1,
        _GEN_2,
        _GEN_3,
        _GEN_4,
        _GEN_5,
        _GEN_6,
        _GEN_7,
        _GEN_8,
        _GEN_9,
        _GEN_10,
        _GEN_11,
        _GEN_12,
        _GEN_13,
        _GEN_14,
        _GEN_15,
        clock
);

  `ifndef SYNTHESIS
    wire [1:0] _GEN_16 = {1'h0, _GEN};
    always @(posedge clock) begin
      if (~reset & io_source_readDataAddr_valid & io_source_writeDataAddr_valid) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Fabric.scala:72\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, io_source_readDataAddr_valid}
          + {1'h0, io_source_writeDataAddr_valid} > _GEN_16) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_2} + {1'h0, _GEN_0} + {1'h0, _GEN_1} > _GEN_16) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Fabric.scala:88\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_6} + {1'h0, _GEN_5}
          + {1'h0, _GEN_3 & _GEN_4} > _GEN_16) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_9} + {1'h0, _GEN_7} + {1'h0, _GEN_8} > _GEN_16) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_12} + {1'h0, _GEN_10} + {1'h0, _GEN_11} > _GEN_16) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_15} + {1'h0, _GEN_13} + {1'h0, _GEN_14} > _GEN_16) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
    end // always @(posedge)
  `endif // not def SYNTHESIS
endmodule
