module LsuV2_Verification_Assert(
  input       _GEN,
              _GEN_0,
              _GEN_1,
              _GEN_2,
              reset,
              _GEN_3,
  input [2:0] io_req_0_bits_nfields,
  input       _GEN_4,
              _GEN_5,
              _GEN_6,
              _GEN_7,
              _GEN_8,
              _GEN_9,
              _GEN_10,
              _GEN_11,
              _GEN_12,
  input [2:0] io_req_1_bits_nfields,
  input       _GEN_13,
              _GEN_14,
              _GEN_15,
              _GEN_16,
              _GEN_17,
              _GEN_18,
              _GEN_19,
              _GEN_20,
              _GEN_21,
  input [2:0] io_req_2_bits_nfields,
  input       _GEN_22,
              _GEN_23,
              _GEN_24,
              _GEN_25,
              _GEN_26,
              _GEN_27,
              _GEN_28,
              _GEN_29,
              _GEN_30,
  input [2:0] io_req_3_bits_nfields,
  input       _GEN_31,
              _GEN_32,
              _GEN_33,
              _GEN_34,
              _GEN_35,
  input [2:0] opQueue_io_enqValid,
              opQueue_io_nSpace,
  input       _GEN_36,
              _GEN_37,
              _GEN_38,
              _GEN_39,
              _GEN_40,
              _GEN_41,
              _GEN_42,
              _GEN_43,
              _GEN_44,
              _nextSlot_active_WIRE_3_5,
              _nextSlot_active_WIRE_3_4,
              _nextSlot_active_WIRE_3_7,
              _nextSlot_active_WIRE_3_6,
              _nextSlot_active_WIRE_3_1,
              _nextSlot_active_WIRE_3_0,
              _nextSlot_active_WIRE_3_3,
              _nextSlot_active_WIRE_3_2,
              _GEN_45,
              _GEN_46,
              _GEN_47,
              _GEN_48,
              _GEN_49,
              _GEN_50,
              _GEN_51,
              _GEN_52,
              _GEN_53,
              _GEN_54,
              _GEN_55,
              _GEN_56,
              _GEN_57,
              _GEN_58,
              _GEN_59,
              _GEN_60,
              _GEN_61,
              _GEN_62,
              _GEN_63,
              _GEN_64,
              _GEN_65,
              _GEN_66,
              lineActive_0,
              lineActive_1,
              wactive_1,
              wactive_0,
              lineActive_2,
              lineActive_3,
              wactive_3,
              wactive_2,
              lineActive_4,
              lineActive_5,
              wactive_5,
              wactive_4,
              lineActive_6,
              lineActive_7,
              wactive_7,
              wactive_6,
              lineActive_8,
              lineActive_9,
              wactive_9,
              wactive_8,
              lineActive_10,
              lineActive_11,
              wactive_11,
              wactive_10,
              lineActive_12,
              lineActive_13,
              wactive_13,
              wactive_12,
              lineActive_14,
              lineActive_15,
              wactive_15,
              wactive_14,
              _GEN_67,
              _GEN_68,
              _GEN_69,
              _GEN_70,
              _GEN_71,
              _GEN_72,
              _GEN_73,
              io_dbus_valid,
              _GEN_74,
              _GEN_75,
              io_rd_flt_valid,
              _GEN_76,
              io_rd_valid,
  input [2:0] slot_vectorLoop_subvector_curr,
              slot_vectorLoop_subvector_max,
  input       _GEN_77,
              _GEN_78,
              slot_active_2,
              slot_active_3,
              slot_active_4,
              slot_active_5,
              slot_active_6,
              slot_active_7,
              slot_active_8,
              slot_active_9,
              slot_active_10,
              slot_active_11,
              slot_active_12,
              slot_active_13,
              slot_active_14,
              slot_active_15,
              slot_pendingWriteback,
              faultReg_valid,
              _GEN_79,
              clock
);

  `ifndef SYNTHESIS
    wire [2:0] _GEN_80 = {2'h0, _GEN_3};
    wire [1:0] _GEN_81 = {1'h0, _GEN_3};
    wire [1:0] _GEN_82 = {1'h0, _GEN_48};
    wire [1:0] _GEN_83 = {1'h0, _GEN_49};
    wire [1:0] _GEN_84 = {1'h0, _GEN_50};
    wire [1:0] _GEN_85 = {1'h0, _GEN_58};
    wire [1:0] _GEN_86 = {1'h0, _GEN_59};
    wire [1:0] _GEN_87 = {1'h0, _GEN_60};
    always @(posedge clock) begin
      if (~reset & {1'h0, {1'h0, _GEN_1} + {1'h0, _GEN_2}}
          + {1'h0, {1'h0, _GEN} + {1'h0, _GEN_0}} > _GEN_80) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, {1'h0, io_req_0_bits_nfields == 3'h0} + {1'h0, _GEN_6}}
          + {1'h0, {1'h0, _GEN_4} + {1'h0, _GEN_5}} > _GEN_80) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_7} + {1'h0, _GEN_8} > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, {1'h0, _GEN_11} + {1'h0, _GEN_12}}
          + {1'h0, {1'h0, _GEN_9} + {1'h0, _GEN_10}} > _GEN_80) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, {1'h0, io_req_1_bits_nfields == 3'h0} + {1'h0, _GEN_15}}
          + {1'h0, {1'h0, _GEN_13} + {1'h0, _GEN_14}} > _GEN_80) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_16} + {1'h0, _GEN_17} > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, {1'h0, _GEN_20} + {1'h0, _GEN_21}}
          + {1'h0, {1'h0, _GEN_18} + {1'h0, _GEN_19}} > _GEN_80) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, {1'h0, io_req_2_bits_nfields == 3'h0} + {1'h0, _GEN_24}}
          + {1'h0, {1'h0, _GEN_22} + {1'h0, _GEN_23}} > _GEN_80) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_25} + {1'h0, _GEN_26} > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, {1'h0, _GEN_29} + {1'h0, _GEN_30}}
          + {1'h0, {1'h0, _GEN_27} + {1'h0, _GEN_28}} > _GEN_80) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, {1'h0, io_req_3_bits_nfields == 3'h0} + {1'h0, _GEN_33}}
          + {1'h0, {1'h0, _GEN_31} + {1'h0, _GEN_32}} > _GEN_80) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_34} + {1'h0, _GEN_35} > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & opQueue_io_enqValid > opQueue_io_nSpace) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Lsu.scala:874\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_38} + {1'h0, _GEN_36} + {1'h0, _GEN_37} > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_41} + {1'h0, _GEN_39} + {1'h0, _GEN_40} > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_44} + {1'h0, _GEN_42} + {1'h0, _GEN_43} > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, {1'h0, _GEN_46} + {1'h0, _GEN_47}}
          + {1'h0,
             {1'h0, _GEN_45}
               + {1'h0,
                  |{_nextSlot_active_WIRE_3_7,
                    _nextSlot_active_WIRE_3_6,
                    _nextSlot_active_WIRE_3_5,
                    _nextSlot_active_WIRE_3_4,
                    _nextSlot_active_WIRE_3_3,
                    _nextSlot_active_WIRE_3_2,
                    _nextSlot_active_WIRE_3_1,
                    _nextSlot_active_WIRE_3_0}}} > _GEN_80) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & _GEN_84 + _GEN_82 + _GEN_83 > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_53} + {1'h0, _GEN_51} + {1'h0, _GEN_52} > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & _GEN_84 + _GEN_82 + _GEN_83 > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, {1'h0, _GEN_56} + {1'h0, _GEN_57}}
          + {1'h0, {1'h0, _GEN_54} + {1'h0, _GEN_55}} > _GEN_80) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & _GEN_87 + _GEN_85 + _GEN_86 > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & _GEN_87 + _GEN_85 + _GEN_86 > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & _GEN_87 + _GEN_85 + _GEN_86 > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_63} + {1'h0, _GEN_61} + {1'h0, _GEN_62} > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_66} + {1'h0, _GEN_64} + {1'h0, _GEN_65} > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset
          & (|({1'h0,
                {1'h0,
                 {1'h0,
                  {1'h0, wactive_0 & ~lineActive_0} + {1'h0, wactive_1 & ~lineActive_1}}
                   + {1'h0,
                      {1'h0, wactive_2 & ~lineActive_2}
                        + {1'h0, wactive_3 & ~lineActive_3}}}
                  + {1'h0,
                     {1'h0,
                      {1'h0, wactive_4 & ~lineActive_4}
                        + {1'h0, wactive_5 & ~lineActive_5}}
                       + {1'h0,
                          {1'h0, wactive_6 & ~lineActive_6}
                            + {1'h0, wactive_7 & ~lineActive_7}}}}
               + {1'h0,
                  {1'h0,
                   {1'h0,
                    {1'h0, wactive_8 & ~lineActive_8} + {1'h0, wactive_9 & ~lineActive_9}}
                     + {1'h0,
                        {1'h0, wactive_10 & ~lineActive_10}
                          + {1'h0, wactive_11 & ~lineActive_11}}}
                    + {1'h0,
                       {1'h0,
                        {1'h0, wactive_12 & ~lineActive_12}
                          + {1'h0, wactive_13 & ~lineActive_13}}
                         + {1'h0,
                            {1'h0, wactive_14 & ~lineActive_14}
                              + {1'h0, wactive_15 & ~lineActive_15}}}}))) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at ScatterGather.scala:94\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, {1'h0, _GEN_69} + {1'h0, _GEN_70}}
          + {1'h0, {1'h0, _GEN_67} + {1'h0, _GEN_68}} > _GEN_80) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_73} + {1'h0, _GEN_71} + {1'h0, _GEN_72} > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, _GEN_75} + {1'h0, io_dbus_valid}
          + {1'h0, _GEN_74} > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Lsu.scala:958\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & {1'h0, io_rd_valid} + {1'h0, io_rd_flt_valid}
          + {1'h0, _GEN_76} > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Lsu.scala:1051\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset & _GEN_87 + _GEN_85 + _GEN_86 > _GEN_81) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Library.scala:234\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset
          & ~(~_GEN_77
              | slot_vectorLoop_subvector_curr != slot_vectorLoop_subvector_max)) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Lsu.scala:1063\n");
        if (`STOP_COND_)
          $fatal;
      end
      if (~reset
          & ~(~_GEN_79 | slot_vectorLoop_subvector_curr == slot_vectorLoop_subvector_max
              & ~(_GEN_78 | slot_active_2 | slot_active_3 | slot_active_4 | slot_active_5
                  | slot_active_6 | slot_active_7 | slot_active_8 | slot_active_9
                  | slot_active_10 | slot_active_11 | slot_active_12 | slot_active_13
                  | slot_active_14 | slot_active_15) & slot_pendingWriteback
              | faultReg_valid)) begin
        if (`ASSERT_VERBOSE_COND_)
          $error("Assertion failed at Lsu.scala:1064\n");
        if (`STOP_COND_)
          $fatal;
      end
    end // always @(posedge)
  `endif // not def SYNTHESIS
endmodule
